/*
* @Author: Administrator
* @Date:   2018-08-16 21:43:23
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-17 10:13:54
*/
header{
	width: 100%;
	height: 2.54rem;
	background: #0aca92;
}
.container{
	width: 7.02rem;
	margin: 0 auto;
}
header .top{
	width: 100%;
	height: 0.92rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .top .message{
	width: 0.38rem;
	height: 0.43rem;
}
header .top .person{
	width: 1.84rem;
	height: 0.77rem;
}
header .top .set{
	width: 0.45rem;
	height: 0.41rem;
}
header .down{
	width: 100%;
	height: 1.62rem;
	position: relative;
}
header .down .head{
	width: 1.27rem;
	height: 1.22rem;
	border-radius: 0.7rem;
	float: left;
	margin: 0.18rem 0.24rem;
}
header .down h4{
	font-size: 0.24rem;
	color: #fff;
	float: left;
	margin-top: 0.38rem;
}
header .down h5{
	font-size: 0.18rem;
	color: #fff;
	float: left;
	margin-top: 1rem;
	margin-left: -0.2rem;
}
header .down .sj{
	width: 0.14rem;
	height: 0.22rem;
	float: left;
    margin-top: 1.04rem;
    margin-left: -1.9rem;
}
header .down .back{
	width: 0.23rem;
	height: 0.36rem;
	float: right;
	margin-top: 0.6rem;
}
.bag{
	width: 100%;
	height: 1.54rem;
	margin-bottom: 0.24rem;
	box-shadow: 0 0.06rem 0.06rem #c9f3e7;
}
.bag .one{
	width: 2.34rem;
	height: 1.54rem;
	float: left;
}
.bag .one h4{
	color: #ff6a00;
}
.bag h4{
	font-size: 0.24rem;
	text-align: center;
	padding-top: 0.5rem;
}
.bag h5{
	font-size: 0.22rem;
	text-align: center;
}
.bag .two{
	width: 2.34rem;
	height: 1.54rem;
	float: left;
}
.bag .two h4{
	color: #0dcd96;
}
.bag .three{
	width: 2.34rem;
	height: 1.54rem;
	float: left;
}
.bag .three h4{
	color: #fbde3b;
}

.function{
	width: 100%;
}
.function ul{
	width: 100%;
}
.function ul li{
	width: 100%;
	height: 1.02rem;
	margin-bottom: 0.2rem;
	box-shadow: 0 0.06rem 0.06rem #c9f3e7;
}
.function ul li .pos{
	width: 0.26rem;
	height: 0.34rem;
	float: left;
	margin: 0.32rem 0.12rem;
}
.function ul li .sc{
	width: 0.3rem;
	height: 0.29rem;
	float: left;
	margin: 0.32rem 0.12rem;
}
.function ul li .lp{
	width: 0.28rem;
	height: 0.32rem;
	float: left;
	margin: 0.32rem 0.12rem;
}
.function ul li .kf{
	width: 0.31rem;
	height: 0.31rem;
	float: left;
	margin: 0.32rem 0.12rem;
}
.function ul li .dz{
	width: 0.28rem;
	height: 0.30rem;
	float: left;
	margin: 0.32rem 0.12rem;
}
.function ul li .jm{
	width: 0.38rem;
	height: 0.29rem;
	float: left;
	margin: 0.32rem 0.12rem;
}
.function ul li h4{
	font-size: 0.24rem;
	padding-left: 0.7rem;
	padding-top: 0.18rem;
}
.function ul li h5{
	font-size: 0.24rem;
	font-weight: 200;
	padding-left: 0.7rem;
}
.function ul li .back{
	width: 0.16rem;
	height: 0.27rem;
	float: right;
	margin-top: -0.38rem;
	margin-right: 0.04rem;
}

footer{
	width: 100%;
	height: 1.3rem;
	font-size: 0.18rem;
	color: #000;
	position: fixed;
	left: 0;
	bottom: 0;
	font-weight: 200;
	background: #fff;
}
footer .container{
	width:100%;
	height: 0.88rem;
	margin-top: 0.1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer .container .home{
	width: 0.8rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
footer .home i{
	font-size: 0.34rem;
	color:#333;
}
footer .home p{
	font-size:0.18rem;
	padding-top:0.08rem;
	color:#333;
}
footer .home i.ic-one{
	color:#333;
}
footer .home i.ic-odr{
	color:#333;
}
footer .home i.ic-my{
	font-weight:300;
	color:#19ca97;
}